a{
	font-family: 'Montserrat';
}

.burger{
	display: block;
	width: 35px;
	height: 26px;
	position: relative;
	span{
		display: block;
		width: 100%;
		background: #FFFFFF;
		height: 2px;
		position: absolute;
		left: 0;
		transition: .2s;
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 50%;
			transform: translateY(-50%);
		}
		&:nth-child(3){
			top: 100%;
		}
	}
	&.active{
		span{
			top: 50%;
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(1){
				transform: translateY(-50%) rotate(45deg);
			}
			&:nth-child(3){
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}

.links-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__el{
		padding-right: 20px;
		margin-bottom: 52px;
		width: 34%;
	}
	&__link{
		font-family: 'Montserrat';
		font-size: 40px;
		text-transform: uppercase;
		color: #FFFFFF;
		position: relative;
		display: inline-flex;
		padding-left: 32px;
		transition: .2s;
		&:hover{
			color: #FFB891;
		}
		&::after{
			content: '';
			position: absolute;
			left: 0;
			top: 24px;
			background: #FFB891;
			width: 5px;
			height: 5px;
		}
	}
}

.title{
	font-family: 'Montserrat';
	color: #FFFFFF;
	line-height: 1.3;
	span{
		color: #FFB891;
	}
	&_main{
		font-size: 40px;
		font-weight: 400;
	}
	&_med{
		font-size: 25px;
		text-transform: uppercase;
	}
}

.text-line{
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	padding-left: 90px;
	&::after{
		content: '';
		position: absolute;
		left: 0;
		top: 9px;
		background: #FFB891;
		opacity: 0.5;
		width: 60px;
		height: 1px;
	}
}

.text-color{
	color: #FFB891;
}

.socials-el{
	background: rgba(8, 10, 15, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s;
	&:hover{
		border-color: #FFB891;
	}
}

.block-socials{
	display: flex;
	&__el{
		margin-left: 5px;
		&:first-child{
			margin-left: 0;
		}
	}
}

.contact-info{
	&__text{
		font-size: 14px;
		color: #FFFFFF;
		margin-bottom: 8px;
	}
	&__tel{
		margin-bottom: 7px;
	}
	&__status{
		margin-left: 5px;
	}
}

.icon-text{
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	color: #FFFFFF;
	&__icon{
		flex: none;
		margin-right: 15px;
	}
}


.status-el{
	position: relative;
	font-size: 14px;
	color: #38B645;
	display: flex;
	align-items: center;
	&__dec{
		background: #38B645;
		width: 5px;
		height: 5px;
		flex: none;
		margin-right: 12px;
		border-radius: 100%;
		display: block;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background: #38B645;
			opacity: 0.2;
			width: 10px;
			height: 10px;
			z-index: -1;
			border-radius: 100%;
			animation: status 1s infinite ease-in-out alternate;
		}
	}
}

.block-form{
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	position: relative;
	padding: 84px 50px;
	padding-bottom: 49px;
	&__img{
		position: absolute;
		left: 50%;
		top: -172px;
		transform: translateX(-50%);
	}
	&__title{
		text-align: center;
		position: relative;
		z-index: 10;
		margin-bottom: 25px;
	}
	&__el{
		margin-bottom: 10px;
	}
	&__btn{
		width: 100%;
	}
	&__checkbox{
		margin-top: 10px;
	}
}

.inp{
	display: block;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #FFB891;
	height: 65px;
	padding: 0 51px;
	padding-right: 20px;
	&, &::placeholder{
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #080A0F;
	}
}

.inpDate{
	font-size: 14px;
	letter-spacing: 0;
	cursor: pointer;
}

.form-el{
	position: relative;
	&__icon{
		position: absolute;
		z-index: 10;
		pointer-events: none;
		left: 23px;
		top: 50%;
		transform: translateY(-50%);
	}
	&__inp{
		position: relative;
		z-index: 1;
	}
	&__arr{
		position: absolute;
		pointer-events: none;
		right: 23px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
	}
}

.btn{
	border: 0;
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #FFB891;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #080A0F;
	padding: 22px 20px;
	transition: .2s;
	svg{
		margin-left: 10px;
	}
}

.checkbox-def{
	flex: none;
	background: #FFB891;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	&__inp{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -999;
		width: 0.1px;
		height: 0.1px;
		visibility: hidden;
	}
	&__dec{
		opacity: 0;
	}
	&__inp:checked + &__dec{
		opacity: 1;
	}
}

.checkbox-el{
	display: flex;
	&__dec{
		
	}
	&__text{
		
		align-items: center;
		margin-top: 6px;
		margin-left: 20px;
		font-family: 'Montserrat';
		font-size: 12px;
		color: #ABABAB;
		line-height: 1.4;
		a{
			text-decoration-line: underline;
			color: #1E85FF;
		}
	}
}

.info-el{
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 20px;
	padding-bottom: 21px;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		width: 1px;
		height: 25px;
		background: #FFB891;
		opacity: 0.5;
	}
	&::before{
		content: '';
		position: absolute;
		bottom: -1px;
		right: -1px;
		width: 1px;
		height: 25px;
		background: #FFB891;
		opacity: 0.5;
	}
	&__title{
		font-family: 'Montserrat';
		font-size: 30px;
		text-transform: uppercase;
		color: #FFB891;
		position: relative;
		margin-top: -19px;
		margin-bottom: 30px;
	}
	&__text{
		font-size: 16px;
		color: #FFFFFF;
		line-height: 1.4;
	}
}

.block-info{
	display: flex;
	flex-wrap: wrap;
	&__el{
		width: 25%;
		&:nth-child(2){
			.info-el::after{
				display: none;
			}
			.info-el::before{
				display: none;
			}
		}
		&:nth-child(4){
			.info-el::after{
				display: none;
			}
		}
	}
	.info-el{
		height: 100%;
	}
}

.mapbtn{
	background: rgba(56, 182, 69, 0.3);
	border: 1px solid rgba(64, 231, 81, 0.5);
	border-right: 0;
	border-radius: 100px 0 0 100px;
	height: 48px;
	width: 160px;
	display: flex;
	cursor: pointer;
	user-select: none;
	z-index: 90;
	// &::after{
	// 	content: '';
	// 	position: absolute;
	// 	left: 100%;
	// 	top: 0;
	// 	height: 100%;
	// 	width: 100vw;
	// 	background: rgba(56, 182, 69, 0.3);
	// }
	&.hide_def{
		display: none !important;
	}
	&__arr{
		width: 24px;
		border-right: 1px solid rgba(64, 231, 81, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	&__text{
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-right: 10px;
	}
	&__right{
		display: flex;
		align-items: center;
		padding: 0 10px;
	}
}

.block-form-2{
	position: relative;
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	padding: 50px 48px;
	max-width: 830px;
	width: 100%;
	&__img{
		position: absolute;
	    top: -58px;
    	right: 38px;
		z-index: 10;
	}
	&__title{
		margin-bottom: 32px;
		position: relative;
		z-index: 20;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		&-el{
			width: 49%;
			margin-bottom: 10px;
		}
	}
	&__checkbox{
		margin-top: 10px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		&-el{
			width: 49%;
		}
	}
}


.text-sec{
	font-family: 'Montserrat';
	font-size: 18px;
	color: #FFFFFF;
}

.block-form-3{
	position: relative;
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	padding: 106px 60px;
	padding-bottom: 38px;
	&__img{
		position: absolute;
		left: 52%;
		transform: translateX(-50%);
		top: -199px;
		z-index: 1;
		pointer-events: none;
	}
	&__content{
		position: relative;
		z-index: 20;
		display: flex;
		justify-content: space-between;
		&-inp{
			width: 68%;
		}
		&-btn{
			width: 31%;
		}
	}
	&__checkbox{
		margin-top: 20px;
	}
}

.ui-datepicker{
	z-index: 333 !important;
	background: #FFFFFF;
	border: 1px solid rgba(255, 184, 145, 0.5);
	padding: 14px 15px;
	font-family: 'Montserrat';
	width: 358px;
	padding-bottom: 20px;
	.ui-datepicker-title{
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		color: #080A0F;
		line-height: 1;
		order: 2;
	}
	.ui-datepicker-header{
		border: 0;
		padding: 0;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 26px;
	}
	.ui-datepicker-next, .ui-datepicker-prev{		
		width: 30px;
		height: 30px;
		position: static;
		margin: 0 !important;
		border: 0 !important;
		display: block !important;
		cursor: pointer;
	}
	.ui-datepicker-prev{
		background: url('../img/icons/leftArr.svg') no-repeat center;
		order: 1;
	}
	.ui-datepicker-next{
		background: url('../img/icons/rightArr.svg') no-repeat center;
		order: 3;
	}
	th{
		font-weight: 500;
		font-size: 14px;
		text-transform: lowercase;
		color: #080A0F;
		padding: 0;
	}
	thead{
		span{
			display: block;
			margin-bottom: 10px;
		}
	}
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after{
	display: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	font-weight: 500;
	font-size: 14px;
	text-transform: lowercase;
	color: #080A0F;
	border: 0;
	background: transparent;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ui-state-active{
	background: #FFB891 !important;
}
.ui-datepicker table{
	margin: 0;
}

.block-form-4{
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	padding: 30px 30px;
	display: flex;
	justify-content: space-between;
	&__el{
		width: 48%;
	}
	&__inp{
		margin-bottom: 10px;
	}
	&__checkbox{
		margin-top: 16px;
		text-align: left;
	}
	&__btn{
		width: 100%;
		margin-top: 31px;
	}
}

.select{
	-webkit-appearance: none;
	-moz-appearance: none;
}

.dots{
	display: flex;
	justify-content: center;
	.swiper-pagination-bullet{
		background: #FFFFFF;
		opacity: 0.3;
		width: 5px;
		height: 5px;
		display: block;
		border-radius: 0;
		margin: 0 !important;
		margin-right: 5px !important;
		&:last-child{
			margin-right: 0 !important;
		}
		&.swiper-pagination-bullet-active{
			background: #FFB891;
			opacity: 1;
		}
	}
}

.block-gallery-small{
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	padding: 30px 30px;
	overflow: hidden;
	position: relative;
	&__el{
		margin-right: 20px;
		&:nth-child(1n){
			width: 54%;
		}
		&:nth-child(2n){
			width: 43%;
		}
	}
	&__nav{
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		z-index: 10;
	}
	&__dots{
		display: none;
		margin-top: 21px;
	}
}


.gallery-small-el{
	display: block;
	&__img{
		width: 100%;
		height: 307px;
		object-fit: cover;
	}
}

.swiper-arr{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(8, 10, 15, 0.5);
	border: 1px solid rgba(255, 184, 145, 0.5);
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: .2s;
	&:hover{
		background: #080A0F;
		border: 1px solid #FFB891;
	}
}